.h1 {
    color:rgb(165, 77, 42);
    border-width: 1px;
    border-style: double;

}

div {
    color: rgb(43, 226, 211);

}

body {
    background-color: rgb(19, 16, 16);

}

.cita {
    font-style: italic;
    color: darkturquoise;

}